@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
}

.top-container {
  height: 40vh;
  background-color: #f44336;
}

.app-name {
  font-style: italic;
  text-shadow: 1px 1px darkgray;
}

#converter-form {
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.form-label {
  margin-right: 28.5rem;
}

input[type='url'] {
  width: 96%;
  padding: 14px;
  border-radius: 15px;
  border: 1px solid lightgray;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px gray;
}

button[type='submit'] {
  padding: 14px;
  border-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 3px 5px gray;
  transition: 0.3s ease-out;
}

button[type='submit']:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
  transform: scale(1.1);
}

#bottom-container {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#message {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: #ffe6e6;
  border: 1px solid black;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

#loading {
  display: none;
  text-align: center;
  color: black;
}

.loading-spinner {
  border: 4px solid #cccbcb;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 35px auto 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
